.home-container {
  display: flex;
  justify-content: right;
  align-items: flex-start;
}

.home-left-side {
  padding: 50px;
  width: 50%;
  position: sticky;
  top: 0;
}

.home-right-side {
  padding: 50px;
  width: 50%;
  top: 0;
}
