.tasklist-sort-buttons {
  margin-bottom: 10px;
}

.tasklist-sort-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  margin-right: 10px;
  cursor: pointer;
  font-size: 14px;
}

.tasklist-sort-button:hover {
  background-color: #0056b3;
}

.tasklist-home-task-list {
  list-style-type: none;
  padding: 0;
}

.tasklist-home-task-item {
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.tasklist-home-edit-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 14px;
  margin-right: 5px;
}

.tasklist-home-delete-button {
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 14px;
  margin-right: 5px;
}

.tasklist-home-edit-button:hover,
.tasklist-home-delete-button:hover {
  background-color: #0056b3;
}

.tasklist-edit-input {
  width: 100%;
  padding: 5px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.tasklist-save-button {
  background-color: #28a745;
  color: #fff;
}

.tasklist-cancel-button {
  background-color: #ccc;
  color: #333;
}

.tasklist-name-bold {
  font-weight: bold;
}
.tasklist-common-button {
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 14px;
  margin-right: 5px;
}

.tasklist-common-button:hover {
  background-color: #0056b3;
  color: #fff;
}

.tasklist-save-button {
  background-color: #28a745;
  color: #fff;
}

.tasklist-cancel-button {
  background-color: #fff;
  color: #333;
  border: 1px solid #ccc;
}
